*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(GBTB.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font: 40px;
    color: white;
    margin-top: 250px;
}
p{
    font: 17px;
    color: white;
}

.col-md-4,.col-md-5{
    margin-top: 15%;
    margin-left: 3em;
    /* box-shadow: -1px 1px 60px 5px rgba(0,0,0,0.4); */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2.5px;
    
    
}
.col-md-6{
    margin-top: 25%;
    
    /* box-shadow: -1px 1px 60px 5px rgba(0,0,0,0.4); */
    background: rgba(255, 255, 255, 0.8);
    border-radius: 2.5px;
    
    
}
h3{
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-top: 1em;
    margin-left: 0.4em;
    
}
.label{
    font-weight: normal;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 30px;
    font-size: 16px;
}

.form-control{
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-top: 15px;
    height: 40px;
}
.submit{
    margin-top: 20px;
    margin-bottom: 20px;
    width:60%;
    margin-left: 20%;
    background: red;
    border: 0px;
    border-radius: 1.5px;
    color: white;
    font-weight: 500;
    padding: 5px;
}
hr{
    margin-bottom: 0px;
}
.bordertop{
    border-top: 10px red solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.borderbtm{
    border-bottom: 10px red solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}


.data-fields{
    background-color: white;
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-top: 15px;
    height: 40px;
    color: black;
    padding-left: 15px;
    padding-top: 8px;
}

#error{
    font-size: 100px;
    color: rgb(28, 221, 28);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 80px;


}

h5{
    margin-bottom: 50px;
}